<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br>
Linkedin [Walisson Carvalho](https://www.linkedin.com/in/wacarv-/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print("Olá, mundo!")

Olá, mundo!

Crie uma célua de texto e adicione uma imagem.

##### Está é uma imagem

![logotipo.png]()

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)
(A) = 320.52/3
resultado = f'O valor total das vendas do dia 19/01 foi: R$ {A:.2f}'
print(resultado)

O valor total das vendas do dia 19/01 foi: R$ 106.84

In [ ]:
# (B)
B = 834.47/119.21
resultado = f'A quantidade total de vendas do dia 20/01 foi: {B:.0f}'
print(resultado)

A quantidade total de vendas do dia 20/01 foi: 7

In [ ]:
# (C)
C = 15378.12/5
resultado = f'O Ticket Médio do dia 23/01 foi de: R$ {C:.2f}'
print(resultado)

O Ticket Médio do dia 23/01 foi de: R$ 3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

##### 1° Transformando toda a string em Maiúsculas

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
cancao.upper()

'RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.'

##### 2° Verificando se todos os caracteres são Minúsculos

In [ ]:
cancao.islower()

False

##### 3° Retornando os caracteres da string para minúsculo

In [ ]:
cancao.lower()

'roda mundo, roda gigante, roda moinho, roda pião.'

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
noticia.find('2,75%')
selic = noticia[12:17]

noticia.find('6')
ano = noticia[62:68]

gabarito = f'O Valor da Selic é de: {selic}, única alta nos últimos {ano}.'


print(gabarito)
print(selic)
print(ano)

O Valor da Selic é de: 2,75%, única alta nos últimos 6 anos.
2,75%
6 anos

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b

print(x)

#Obs: O valor de x é true, pois a negação de falso é verdadeiro, e Verdadeira com Verdadeiro = Verdadeiro na condicional "E ou AND".

True